body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

.calculator {
  background-color: #fff;
  border: 3px solid #c54c82;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#history-display {
  display: none;
  padding: 10px;
  font-size: 14px;
}

#history-display.show-history {
  display: block;
  color: pink;
}

.hamburger-menu {
  padding: 10px;
}

#display {
  width: 260px;
  height: 120px;
  padding: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 450px;
  background-color: #defcf9;
  padding-top: 10px;
}

button {
  padding: 25px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #defcf9;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

button:hover {
  background-color: #edb1f1;
}

button.operator {
  background-color: #ffb5b5;
  border-radius: 300%;
}

